@model MealsToGo.ViewModels.UserSettingsViewModel

@{
    ViewBag.Title = "Index";
    int UserID = 0;
    if (Request.IsAuthenticated)
    {
        UserID = WebSecurity.CurrentUserId;

    }
}

<div class="cont-main">
    <h1>There are your current account settings. Accept or Change existing settings</h1>
    <h2>@Html.ActionLink("Accept","Confirm", "Settings", routeValues: new { userID = UserID }, htmlAttributes:new { @class = "menu-14u" })  @Html.ActionLink("Change","Edit", "Settings", routeValues: new { userid = UserID }, htmlAttributes:new { @class = "menu-14u" }) 
    </h2>
    <div class="cont">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <table>
                          <tr>
                            <td height="35" class="normal-14"><strong>Privacy Level</strong></td> <td height="35" class="normal-14">@Html.DisplayFor(model => model.PrivacySetting)</td>
                        </tr>
                        <tr>
                            <td height="35" class="normal-14"><strong>Receive Email Notification</strong></td> <td height="35" class="normal-14">@Html.DisplayFor(model => model.ReceiveEmailNotification)</td>
                        </tr>
                        <tr>
                            <td height="35" class="normal-14"><strong>Receive Text Notification</strong></td> <td height="35" class="normal-14">@Html.DisplayFor(model => model.ReceiveMobileTextNotification)</td>
                        </tr>
                       
                    </table>
                </td>
                

            </tr>
        </table>
    </div>
    </div>
    
